.signInPage {
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__header {
    margin-bottom: 5rem;
    font-size: 3rem;
    color: white;
  }
}
