@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.landing {
  height: 85vh;
  width: 100vw;
  background-color: #d9e4b1;

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 20rem 20rem;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 85vh;
    background: radial-gradient(
      circle,
      rgba(217, 217, 217, 0.41) 29%,
      rgba(217, 217, 217, 0.42) 30%
    );
    border-radius: 0 0 20rem 20rem;
    @include tablet {
      margin-top: 8vh;
    }
  }
  &__content {
    position: absolute;
    width: 100%;
    height: 25%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 8rem;
    @include desktop {
      height: 45%;
    }
  }
  &__text {
    font-size: 5rem;
    margin-top: 4rem;
    font-weight: bold;
    color: $primary-five;
    text-align: center;
  }
}
