@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.landing {
  height: 85vh;
  width: 100vw;

  &__video {
    width: 100%;
    height: 85vh;
    object-fit: cover;
    border-radius: 0 0 20rem 20rem;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 85vh;
    background: radial-gradient(
      circle,
      rgba(217, 217, 217, 0.21) 29%,
      rgba(217, 217, 217, 0.22) 30%
    );
    border-radius: 0 0 20rem 20rem;
    @include tablet {
      margin-top: 13vh;
    }
  }

  &__content {
    position: absolute;
    width: 100%;
    height: 25%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 8vh;
    @include desktop {
      height: 85vh;
    }
  }

  &__text {
    font-size: 5rem;
    margin-top: 4rem;
    font-weight: bold;
    color: #663eaf;
    text-align: center;
    text-shadow: 0.2rem 0.2rem black;
  }

  &__reality {
    color: $primary-one;
  }

  &__dream {
    color: $primary-three;
  }
}
