// Breakpoints

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Colors
$primary-one: #462df0;
$primary-two: #283618;
$primary-three: #49b68f;
$primary-four: #d1740d;
$primary-five: #fff8c8;
