.blog {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;

  &__post {
    width: 350px;
    height: 350px;
    border: 1px solid #ccc;
    overflow: auto;
    margin: 0 1rem;
    border: 5px solid white;
    border-radius: 1rem;
    // background-color: white;
  }
  &__title {
    font-size: 1rem;
    color: white;
  }
  &__name {
    font-size: 1.2rem;
    color: white;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    color: white;
  }
}
