@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.create {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__image {
    height: 90%;
  }
  &__input {
    width: 70%;
    border-radius: 1rem;
    height: 3rem;
    background-color: $primary-one;
    border-color: transparent;
    margin-right: 2rem;
    color: $primary-three;
    font-weight: bold;
  }
  &__form {
    // height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 70%;
    height: 90%;
    border: solid black 2px;
  }
}
