@use "../../../styles/partials/breakpoints" as *;
@use "../../../styles/partials/mixin" as *;
@use "../../../styles/partials/variables" as *;

.WhatWeDo {
  width: 100vw;
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: ""; //choose color;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  @include tablet {
    border-radius: 20rem 20rem 0 0;
  }

  &__container {
    width: 80%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    @include desktop {
      justify-content: space-between;
    }
  }
  &__one,
  &__two,
  &__three {
    width: 300px;
    background-color: white;
    height: 75vh;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    @include tablet {
      width: 500px;
    }
    @include desktop {
      margin-bottom: 0;
      width: 30%;
    }
  }

  &__innerWrapper {
    border-radius: 10rem;
    width: 80%;
    height: 90%;
    padding: 1rem;
    border: solid 2px $primary-one;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__wrapper {
    flex-wrap: wrap;
    border-radius: 10rem;
  }
  &__text {
    text-align: center;
  }
  &__header {
    margin-bottom: 1rem;
    color: $primary-three;
  }
  &__title {
    margin-bottom: 5rem;
    font-size: 5rem;
    color: $primary-three;
  }
  &__img {
    border-color: transparent;
    height: 12rem;
    @include tablet {
      height: 15rem;
    }
  }
}
