@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.footer {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 95%;
  background-color: $primary-two;
  border-radius: 18rem 18rem 0 0;
  margin-top: 5rem;
  bottom: 0;

  &__container {
    height: 100%;
    background-image: url("../../assets/images/footerimg.jpg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    width: 70%;
    border-radius: 5rem 5rem 0 0;
  }
}
