@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.footer {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 95%;
  background-color: rgb(102, 62, 175, 0.2);
  border-radius: 18rem 18rem 0 0;
  bottom: 0;

  &__container {
    height: 100%;
    background-image: url("../../assets/images/footerbackground.jpg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    width: 70%;
    border-radius: 5rem 5rem 0 0;
  }
}
